.custom-block {
    padding: 16px 24px;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
    &.tip {
        background-color: #f3f5f7;
        border-color: #42b983;
    }
    &.warning {
        background-color: rgba(255,229,100,.3);
        border-color: #e7c000;
        color: #6b5900;
    }
    &.danger {
        background-color: #ffe6e6;
        border-color: #c00;
        color: #4d0000;
    }
}
.ext-directory {
    margin-bottom: 16px !important;
    padding: 16px;
    border: 1px solid #eee;
}
.url-list {
    padding-left: 0 !important;
}
.url-box {
    margin-bottom: 16px;
    .url-box-content {
        display: inline-block;
        width: 100%;
        max-width: 400px;
        padding: 16px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        &:hover {
            background-color: #f6f6f6;
        }
    }
    .title {
        margin-bottom: 8px;
        font-size: 16px;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .url {
        color: #999;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .icon {
        float: left;
        width: 64px;
        height: 64px;
        margin-right: 16px;
        margin-bottom: 0;
    }
}
.md-api {
    margin-bottom: 16px;
    padding: 16px 0;
    border: 1px solid #eee;
    .head {
        margin-bottom: 16px;
    }
    .url {
        font-size: 16px;
    }
    .method {
        color: #fff;
        background-color: #49cc90;
        margin-right: 16px;
        padding: 4px 8px;
        border-radius: 4px;
    }
    pre {
        margin-bottom: 16px;
        background-color: #f1f1f1;
        code {
            padding: 0;
        }
    }
}

.color-list {
    margin: 0;
    padding: 0;
    list-style: none;
    .item {
        margin: 0 0 16px 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }
    .color {
        float: left;
        width: 90px;
        height: 24px;
        margin-right: 16px;
        border: 1px solid #eee;
    }
    .code {
        float: left;
        width: 80px;
        margin-right: 16px;
    }
    .description {
        float: left;
    }
}
.todo-list {
    >li {
    }
    .finish {
        opacity: 0.6;
        text-decoration: line-through;
    }
}